@charset "UTF-8";

.gradation{
  background-image: linear-gradient(rgba(0,0,255,.6),rgba(0,128,0,6));
  background-repeat:no-repeat;
  background-size:cover;
  background-position:center;
}
video{
  width: 600px;
  height: 500px;
}